.content{
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.text {
    font-family: 'Roboto';
    text-align: center;
}

.title{
    font-size: 170px;
    color: rgb(36, 36, 36);
}

body {
    background-color: rgb(255, 249, 249);
}

.input {
    background-color: transparent;
    border: none;
    font-size: 40px;
    padding: 15px;
    width: min-content;
    display: inline-block;
    color: rgb(157, 157, 157);
    overflow: hidden;
    margin-top: -20px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    border-bottom: 2px solid rgb(36, 36, 36)
}

.hidden{
    display: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 80px;
  }

.songifyBottomText {
    font-size: 25px;
}

.songifyFooter {
    display: flex; 
    flex-direction: row;
    padding: 20px;
    color: rgb(228, 226, 226);
    margin-right: auto;
}

#songify {
    font-size: 35px;
    margin: 20px;
}

#songifyDesc{
    margin-top: 30px;
    font-size: 18px;
}

#musicFinder{
    font-size: 18px;
    font-family: 'Roboto';
    color: rgb(228, 226, 226);
    padding-right: 40px;
}