<<<<<<< HEAD
.content{
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.text {
    font-family: 'Roboto';
    text-align: center;
}

.title{
    font-size: 170px;
    color: rgb(36, 36, 36);
}

body {
    background-color: rgb(255, 249, 249);
}

.input {
    background-color: transparent;
    border: none;
    font-size: 40px;
    padding: 15px;
    width: min-content;
    display: inline-block;
    color: rgb(157, 157, 157);
    overflow: hidden;
    margin-top: -20px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    border-bottom: 2px solid rgb(36, 36, 36)
}

.hidden{
    display: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 80px;
  }

.songifyBottomText {
    font-size: 25px;
}

.songifyFooter {
    display: flex; 
    flex-direction: row;
    padding: 20px;
    color: rgb(228, 226, 226);
    margin-right: auto;
}

#songify {
    font-size: 35px;
    margin: 20px;
}

#songifyDesc{
    margin-top: 30px;
    font-size: 18px;
}

#musicFinder{
    font-size: 18px;
    font-family: 'Roboto';
    color: rgb(228, 226, 226);
    padding-right: 40px;
=======
body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

main {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: auto;
    text-align: center;
}

.input-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
    text-align: left;
}

footer {
    position: fixed;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    bottom: 0;
>>>>>>> cffba815c9afeec07cf6d96e18237de979bbcdf7
}