.content{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.text {
    font-family: 'Roboto';
    text-align: center;
}

.title{
    font-size: 170px;
    color: rgb(36, 36, 36);
}

body {
    background-color: rgb(255, 249, 249);
}

.input {
    background-color: transparent;
    border: none;
    font-size: 40px;
    padding: 15px;
    width: min-content;
    display: inline-block;
    color: rgb(157, 157, 157);
    overflow: hidden;
    margin-top: -20px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    border-bottom: 2px solid rgb(36, 36, 36)
}

.hidden{
    display: none;
}